@import "styles";

.fileWrapper {
    @extend %item-shared;

    .buttons {
        flex: 1 30%;
        padding: 10px;
    }

    .file {
        flex: 1 70%;
        border-bottom: 1px solid #d6d6d6;
        padding: 10px;
    }
}
