@import "styles";

.folderWrapper {
    @extend %item-shared;

    .buttons {
        flex: 2;
        padding: 10px;
    }
    .folder {
        flex: 6;
        border-bottom: 1px solid #d6d6d6;
        cursor: pointer;
        padding: 10px;
        &:hover {
            background: #f5f5f5;
        }
    }
}
