.folderDetails {
    padding: 50px 20px;
}

.folderNavigation {
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}

.message {
    height: 30px;
    line-height: 30px;
}
